<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="../../../static/css/normalize.css" type="text/css">
	<link rel="stylesheet" href="../../../static/css/style.css" type="text/css">
	<link rel="stylesheet" href="../../../static/css/nanoscroller.min.css" type="text/css">
	<link rel="stylesheet" href="../../../static/font-awesome/css/font-awesome.min.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="../../../static/js/nanoscroller.min.js" type="text/javascript"></script>
	<!--[if IE 7]>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome-ie7.min.css">
	<![endif]-->
</head>
<body>
	<div id="container">
		<div id="header">
			<div id="logo"></div>
			<div id="search_wrap">
				<input id="search" placeholder="Search for locations" type="text"/>
				<div id="search_button"><i class="icon-search"></i></div>
			</div>
			<div id="controls_wrap">
				<div id="add_friends"><i class="plus icon-plus-sign-alt"></i>Add Friends</div>
				<div id="user_details">
					<div id="user_pic"></div>
					<div id="user_name">Nitesh Kumar</div>
				</div>
			</div>
		</div>
		<div id="map_wrap"></div>
		<div id="page_wrap"class="nano">
			<div class="page content">
				<div class="trip_name">IMG Trip 2014
				<div class="trip_settings"><i class="icon-cog"></i></div>
				</div>
				<div class="place_node">
					<div class="place_bar">
						<div class="place_marker"><i class="icon-map-marker"></i></div>
						<div class="place_name">New Delhi</div>
						<div class="date_time">19th October 2014, 2:00 PM</div>
					</div>
					<ul class="place_comments">
						<li>
							<div class="comment_text">fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjhfggfh</div>
							<div class="comment_remove"><i class="icon-trash"></i></div>
						</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhg fdgfdg  fdgd hf fdgjh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjh</li>
					</ul>
				</div>
				
				<div class="place_node">
					<div class="place_bar">
						<div class="place_marker"><i class="icon-map-marker"></i></div>
						<div class="place_name">New Delhi</div>
						<div class="date_time">19th October 2014, 2:00 PM</div>
					</div>
					<ul class="place_comments">
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjhfggfh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhg fdgfdg  fdgd hf fdgjh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjh</li>
					</ul>
				</div>
				
				<div class="place_node">
					<div class="place_bar">
						<div class="place_marker"><i class="icon-map-marker"></i></div>
						<div class="place_name">New Delhi</div>
						<div class="date_time">19th October 2014, 2:00 PM</div>
					</div>
					<ul class="place_comments">
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjhfggfh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhg fdgfdg  fdgd hf fdgjh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjh</li>
					</ul>
				</div>
				
				<div class="place_node">
					<div class="place_bar">
						<div class="place_marker"><i class="icon-map-marker"></i></div>
						<div class="place_name">New Delhi</div>
						<div class="date_time">19th October 2014, 2:00 PM</div>
					</div>
					<ul class="place_comments">
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjhfggfh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhg fdgfdg  fdgd hf fdgjh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjh</li>
					</ul>
				</div>
				
				<div class="place_node">
					<div class="place_bar">
						<div class="place_marker"><i class="icon-map-marker"></i></div>
						<div class="place_name">New Delhi</div>
						<div class="date_time">19th October 2014, 2:00 PM</div>
					</div>
					<ul class="place_comments">
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjhfggfh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhg fdgfdg  fdgd hf fdgjh</li>
						<li>fdgfdgfhgjgjkhkhj jghjhg hjgh jghjghfgh fgfhgf hgfh hfj jghjhjhgjh</li>
					</ul>
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
	<script>
		$(document).load($(".nano").nanoScroller());
		
	</script>
</html>