<!DOCTYPE html>
<html>
<title>TripNote</title>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	
	<style>
	html, body, #map-canvas {
		height: 100%;
		margin: 0px;
		padding: 0px
	}

	</style>
	<link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
	<link rel="stylesheet" href="/static/css/style.css" type="text/css">
	<link rel="stylesheet" href="/static/css/nanoscroller.min.css" type="text/css">
	<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/reveal.css">
	<script src="/static/js/jquery-1.4.4.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.reveal.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/static/js/nanoscroller.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
	<!--[if IE 7]>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script>
// This example adds a search box to a map, using the
// Google Places autocomplete feature. People can enter geographical searches.
// The search box will return a pick list containing
// a mix of places and predicted search terms.

function PopulatePlaces(map)
{
	var places = GetPlaces();

}
var markers = [];
var map;
var setClientSideStripName = 	function()
	{
		//console.log("execution check!");
		$('#name_edit_input').hide();
		$('#name_edit').html($(this).val());
		//console.log($(this).val());
		$('#name_edit').show() ;
		//send ajax;
		SetTripName($(this).val()) ;
	}
function initialize() {


$('#name_edit').dblclick(
	function()
	{
		
		$(this).hide();
		$('#name_edit_input').show();
	}
);
$('#name_edit_input input').blur(
        setClientSideStripName
	);


	var delhi = new google.maps.LatLng(28.613459424004414,77.16796875);
	
	var SearchMarkers = [];
	map = new google.maps.Map(document.getElementById('map-canvas'), {
		zoom: 4,
		center: delhi,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	});

/*var defaultBounds = new google.maps.LatLngBounds(
		new google.maps.LatLng(-33.8902, 151.1759),
		new google.maps.LatLng(-33.8474, 151.2631));
map.fitBounds(defaultBounds);
*/
// Create the search box and link it to the UI element.
var input = document.getElementById('search');
var searchBox = new google.maps.places.SearchBox(input);

// [START region_getplaces]
// Listen for the event fired when the user selects an item from the
// pick list. Retrieve the matching places for that item.
google.maps.event.addListener(searchBox, 'places_changed', function() {
	var places = searchBox.getPlaces();

	for (var i = 0, marker; marker = SearchMarkers[i]; i++) {
		marker.setMap(null);
	}

		// For each place, get the icon, place name, and location.
		SearchMarkers = [];
		var bounds = new google.maps.LatLngBounds();
		for (var i = 0, place; place = places[i]; i++) {
			var image = {
				url: place.icon,
				size: new google.maps.Size(71, 71),
				origin: new google.maps.Point(0, 0),
				anchor: new google.maps.Point(17, 34),
				scaledSize: new google.maps.Size(25, 25)
			};

// Create a marker for each place.
var marker = new google.maps.Marker({
	map: map,
	icon: image,
	title: place.name,
	position: place.geometry.location
});

SearchMarkers.push(marker);

bounds.extend(place.geometry.location);
}

for(var i=0, loc; loc = markers[i]; ++i )
	bounds.extend(loc) ;

map.fitBounds(bounds);
//map.setZoom(7) ;
});
// [END region_getplaces]

// Bias the SearchBox results towards places that are within the bounds of the
// current map's viewport.
google.maps.event.addListener(map, 'bounds_changed', function() {
	var bounds = map.getBounds();
	searchBox.setBounds(bounds);
});

// END OF SEARCH

// ADD  AND DELETE MARKER 
google.maps.event.addListener(map, 'click', function(event) {
	addMarker(event.latLng);
});


PopulatePlaces(map);
} // END OF INITIALIZE

function SetTitle(location, m)
{
	geocoder = new google.maps.Geocoder();
	geocoder.geocode({'latLng': location}, function(results, status) {
		if (status == google.maps.GeocoderStatus.OK) {
			if (results[1]) {
				FullTitle = results[1].formatted_address;
   		//global = FullTitle ;
   		m.setTitle(FullTitle);
   		AddPlace(location, FullTitle);
   		console.log(m.getTitle());
        //m.setTitle(FullTitle.substr(0,FullTitle.index(" ")));
       // console.log('title set' + m.title);

    } else {
    	console.log('No results found');
    }
} else {
	console.log('Geocoder failed due to: ' + status);
}
	
});
	return m;
}
function addMarker(location) {
	
	markers.push(location);
	//console.log(location) ;
	var marker = new google.maps.Marker({
		position: location,
    //  draggable: true,
    	map: map ,
	});

	m = SetTitle(location,marker);
	console.log("tit"+m.getTitle());
	

	google.maps.event.addListener(marker, 'click', function(event) {
		var index = markers.indexOf(marker.position);
		
		if(index > -1)
			markers.splice(index, 1);
		RemovePlace(marker.position)
		marker.setMap(null);
	});
}

function GetTravelUri()
{
	var url = $(location).attr('href');
	var travel_uri = url.substr(url.lastIndexOf("/")+1) ;
	return travel_uri
}


function Push2Db(url, data, callback)
{
	$.ajax({
		url: url,
		type: "post",
		data: data,
		success: callback ,
		error:function(){
			$("#result").html('There is error while submit');
		}
	});
}

var globalTempAddPlace ="";
function callbackAddplace(msg)
{
	var place_id = msg ;
	location_name = globalTempAddPlace; 
	console.log(msg) ;
	console.log("place added");
	$('#place_node_wrap').append('<div class="place_node" id="pn_' + place_id +'">'+
					'<div class="place_bar">'+
						'<div class="place_marker"><i class="icon-map-marker"></i></div>'+
						'<div class="place_name">'+location_name+'</div>'+
					'</div>'+
				'</div>');
	console.log("new new :"+ place_id);
}

function AddPlace(location, title)
{
	 globalTempAddPlace = title;
	console.log(location);
	console.log(title);
	title = title || " " ;
	var url = "/travel/api/map/add-place";
	var uri = GetTravelUri();

	var latti = location.lb;
	var  longi = location.mb;

	data = { travel_uri : uri ,
		latti : latti ,
		longi : longi ,
		properties : "0" ,
		location_name : title ,
	};

	Push2Db(url, data, callbackAddplace)
}


var global ;
function showMarker(LatLong)
{
	var myMarkerOptions = {
		position: LatLong,
		map: map
	};
	var marker = new google.maps.Marker(myMarkerOptions);
	//SetTitle(LatLong, marker);

	google.maps.event.addListener(marker, 'click', function(event) {
		var index = markers.indexOf(marker.position);
		if(index > -1)
			markers.splice(index, 1);
		RemovePlace(marker.position)
		marker.setMap(null);
	});
}

var gg;
function callbackGetplaces(places)
{
//	console.log("callbackGetplaces:" +places);
	//places = data;
	for(var i=0; i<places.length; ++i )
	{
		var latti = places[i]['fields'].latti ;
		var longi = places[i]['fields'].longi ;
		var LatLong = new google.maps.LatLng(latti,longi);
		markers.push(LatLong)
		showMarker(LatLong) ;
		place = places[i]['fields'] ;
		PopulateSidePlaces(places[i]['pk'], places[i]['fields'].location_name) ;
	}
	return data;
}

var g ;
function callbackGetactivities(activities)
{
	if(activities.length  > 0)
	{
		str = ''; 
		g = activities ;
		console.log(g.length);
		
		str ='' ;
			for(var i=0; i< activities.length; ++i)
				str+='<li>'+ activities[i]['fields'].comment + '</li>';

		console.log("$('#pn_"+activities[0]['fields'].place + " .place_comments'"+").append("+str+") ;");
		$('#pn_'+activities[0]['fields'].place + ' .place_comments').append(str) ;

	}
}

function GetActivities(place_id)
{
	var url = '/travel/api/place/get-activities';
	var data = {
		place_id : place_id
	};
	Push2Db(url, data, callbackGetactivities);
}

function PopulateSidePlaces (place_id, location_name) 
{
	
	$('#place_node_wrap').append('<div class="place_node" id="pn_' + place_id +'">'+
					'<div class="place_bar">'+
						'<div class="place_marker"><i class="icon-map-marker"></i></div>'+
						'<div class="place_name">'+location_name+'</div>'+
					'</div>'+
				'</div>');
	console.log("place id sent"+ place_id);
	var str2 ='<ul class="place_comments"> </ul> ' ;
$('#pn_' + place_id ).append(str2);	
	 GetActivities(place_id);

	var str1 = '<li > <span class="add_activity"  id="add_'+place_id+'"> add activity</span>';
	str1 = str1 + '<span class="add_activity_input" id="in_'+place_id+'" style="display:none"> <input type="text"  /></li>';
console.log("STR1 HERE" + place_id);


 
	$('#pn_' + place_id + " .place_comments").append(str1);
console.log("-1");
		
$("#pn_"+place_id).on('click',"#add_"+place_id,

	function()
	{
		console.log("1");
		$("#add_"+place_id).hide();
		$('#in_'+place_id).show();
	}
	);
console.log("-2");

$("#pn_"+place_id).on('blur',"#in_"+place_id,
	function()
	{
		//console.log("execution check!");
		$("#in_"+place_id).hide();
		$('#add_'+place_id).html($("#in_"+place_id+" input").val());
		//console.log($(this).val());
		$('#add_'+place_id).show() ;
		//send ajax;
		AddActivity(place_id, $("#in_"+place_id+" input").val()) ;
	}
	);




}

function GetPlaces()
{
	var url = "/travel/api/map/get-places";
	var uri = GetTravelUri();
	data = { travel_uri : uri };
	Push2Db(url, data, callbackGetplaces)
}

function callbackRemoveplace(msg)
{
	//console.log(msg) ;
	//console.log("place removed");
}

function RemovePlace(location)
{
	loci = location ;
	var url = "/travel/api/map/remove-place";
	var uri = GetTravelUri();

	var latti = location.lb;
	var  longi = location.mb;

	data = { travel_uri : uri ,
		latti : latti ,
		longi : longi ,
	};

	Push2Db(url, data, callbackRemoveplace) ;
}

function callbackAddactivity(msg)
{
	console.log("callbackAddactivity() :"+msg) ;

}

function AddActivity(place_id, comment)
{
	var url = "/travel/api/place/add-activity";
	var data = {
		'place_id' : place_id ,
		'comment' : comment ,
	};
	console.log(data);
	Push2Db(url, data, callbackAddactivity) ;	
}
/*
function callbackRemoveactivity(msg)
{
	console.log("callbackRemoveactivity() :"+msg) ;
}

function RemoveActivity()
{
	var url = "/travel/api/map/remove-activity";
	var data = {
		'activity_id' : 1 
	};
	Push2Db(url, data, callbackAddactivity) ;	
}
*/
function callbackSettripname(msg)
{
//    $('#name_edit')
}
function SetTripName(name)
{
	console.log(name);
	var url = "/travel/api/travel-name-edit";
	var travel_uri = GetTravelUri();
	var data = {
		travel_uri : travel_uri ,
		name : name ,
	} ;
	Push2Db(url, data, callbackSettripname) ;
}
google.maps.event.addDomListener(window, 'load', initialize);



</script>
</head>
<body>
	<!--<div id="container"> -->
		<div id="header">
			<div id="logo"></div>
			<div id="search_wrap">
				<input id="search" placeholder="Search for locations" type="text"/>
				<div id="search_button"><i class="icon-search"></i></div>
			</div>
			<div id="controls_wrap">
                <a href="#" data-reveal-id="myModal"><div id="add_friends"><i class="plus icon-plus-sign-alt"></i>Add Friends</div></a>
			</div>
		</div>
	
	<div id="map_wrap"> 
		<div id="map-canvas"></div>
	</div>

		<div id="page_wrap" class="nano">
			<div class="page content">
				<div class="trip_name" id="name_edit_input" style="display:none" >
					<input name="name" value="" />
				</div>
                <div class="trip_name" id="name_edit">{{ travel_title }}
				<div class="trip_settings"><i class="icon-cog"></i></div>
				</div>

				<div id="place_node_wrap"> 
				
			</div> <!-- end of place_node_wrap -->
			</div>
			</div>
		</div>
    <div id="myModal" class="reveal-modal">
     <h3 style="text-align:center;">Invite your friends to this trip.</h3>
     <p style="text-align:center;">Enter you friends' email ID's seperated by a comma (,)</p>
     <input class="pop_up" type="text" id="invite-friends"></div>
     <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="myModal" class="reveal-modal">
     <h3 style="text-align:center;">Please enter your email address for future editing.</h3>
     <input class="pop_up" type="text" id="set-email"></div>
     <a class="close-reveal-modal">&#215;</a>
    </div>
</body>

<script>
	$(document).load($(".nano").nanoScroller());
		
	</script>
        <script>
            var channel = new goog.appengine.Channel('{{ token }}');
            var socket = channel.open();
            var onOpened = function() {
                console.log('opened');
            }
            var onMessage = function(message) {
                var a = message.data.split(',');
                if(a.length>0)
                {
                    window[a[0]](a[1]);
                }
            }
            var onError = function() {
                console.log('on error');
            }
            var onClose = function() {
                console.log('on close');
            }
            socket.onopen = onOpened;
            socket.onmessage = onMessage;
            socket.onerror = onError;
            socket.onclose = onClose;
        </script>
</html>
